{% extends 'base.html.twig' %}

{% block title %}Hello AppController!
{% endblock %}

{% block body %}
	<div class='container'>
		<div class='card   bg-light  pt-3 pb-5'>
			<h1 class='pb-4'>Add Donor</h1>
			{{ form_start(form) }}
			<form class='px-3 py-3'>
				<div class="form-check">
					{{ form_row(form.phone_one, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="form-check">
                    {{ form_row(form.name_one, {'attr': {'class': 'form-control'}}) }}

				</div>
				<div class="form-check">
                   	{{ form_row(form.desc_one, {'attr': {'class': 'form-control'}}) }}

				</div>
				<div class='row text-center pt-5'>
					<div class='col'>
						<button type="submit" class="btn btn-primary my-1">Submit</button>
					</div>
				</div>
				{{ form_end(form) }}
			</form>
		</div>
	</div>
{% endblock %}
