
{# templates/list/index.html.twig #}
{% extends 'base.html.twig' %}
{% block
body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card bg-light mb-3 mt-3">
					<div class="card-body">
						<div class="card-header">List of News</div>
						<AmpContent>
							<table class="table">
                          
								<tr>
                                    <th>Id</th>
									<th>Title</th>
									<th>Description</th>
								</tr>
								  {% for l in list_news %}
									<tr>
                                        <th>{{ l.id }}</th>
										<td>{{ l.title }}</td>
										<td>{{ l.description }}</td>
									</tr>
								{% endfor %}
							</table>

						</AmpContent>
					</div>
				</div>
				<NonAmpContent>
					<a href="{{ path('app_login') }}" class="btn btn-info">
						You need to login to see the list 😜😜 >></a>
				</NonAmpContent>
			</div>
		</div>
	</div>
{% endblock %}
